/***************
Visual Composer
***************/
.wpb_wrapper {
	.ivan-custom-wrapper {
		.wpb_column {
			padding-left: 0;
			padding-right: 0;
			.ivan-icon-box-wrapper {
				margin-top: 0!important;
				.ivan-icon-box {
					border: 0!Important;
					.main-icon {
						color: #236fb6!important;
					}
				}
			}
		}
	}
}

/***************
Master Slider
***************/