.page-template-blog {
	.site-content {
		background-color: #f7f7f7;
		.title-wrapper {
    		background-color: #F8F9FB;
    		border-top: 5px solid #2068AD;
		    padding: 30px 0 25px;
		    position: relative;
		    color: #ffffff;
		    text-align: center;
		    transition: transform 0.8s cubic-bezier(0.68, 0, 0.29, 1);
		    .entry-title {
			    color: #000;
			    font-size: 36px;
			}
			.sub-title{
				color: #999999;
				font-size: 18px;
			}
		}
		.blog-listing {
		    margin-top: 10px;
		    		article {
						background: #fff;
						margin: 15px 0;
						box-shadow: none;
						transition: box-shadow 250ms linear;
						&:hover{
							box-shadow: 1px 1px 1px 1px rgba(150,150,150,0.4);
						}
						.thumbnail-hover {
							position: relative;
							border: 0;
							border-radius: 0;
							padding: 0;
							margin: 0;
							&:hover {
								.overlay {
									opacity: 0.4;
								}
								.thumb-cross {
									opacity: 1;
								}
							}
							.blog-img {
							    background-position: center center;
							    background-repeat: no-repeat;
							    background-size: cover;
							    .img-responsive {
								    height: 100%;
								}
							}
							.overlay {
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background: #236fb6;
								opacity: 0;
								transition: opacity 500ms ease-in-out;
							}
							.thumb-cross {
								display: block;
								position: absolute;
								top: 50%;
								left: 50%;
								opacity: 0;
								width: 40px;
								height: 40px;
								margin-left: -20px;
								margin-top: -20px;
								transition: opacity 500ms ease-in-out;
								&:before {
									display: block;
									content: ' ';
									position: absolute;
									left: 0;
									top: 50%;
									margin-top: -1px;
									height: 1px;
									width: 100%;
									background-color: #ffffff;
								}
								&:after {
									display: block;
									content: ' ';
									position: absolute;
									left: 50%;
									top: 0;
									margin-left: -1px;
									height: 100%;
									width: 1px;
									background-color: #ffffff;
								}

							}
						}
						.entry-inner {
						    .entry-content {
						    	padding-right: 15px;
								p {
									margin-bottom: 0;
								}
							}
							.read-more {
								margin: 20px 0;
								.read-more-btn {
								    font-family: "Raleway", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
								    font-size: 12px;
								    line-height: 1em;
								    font-weight: 600;
								    letter-spacing: 0.3px;
								    text-transform: uppercase;
								    background: #e6e6e6;
								    color: #4c4c4c;
							        border-radius: 0;
								    border-color: #e6e6e6;
								    padding: 13px 21px;
								    position: relative;
								    &:hover {
								    	color: #ffffff;
									    background-color: #1C7AAB !important;
									    border-color: #1C7AAB !important;
									    // color: #4c4c4c;
									    // background-color: #f0f0f0 !important;
									    // border-color: #f0f0f0 !important;
									}
							}
						}
						}

					}
		}
		.sidebar {
		    margin-top: 25px;
		    background-color: #fff;
		    .widget {
		    margin: 0;
		    margin: 15px 0 35px;
    		    .widget-title {
			    color: #292d33;
			    font-size: 24px;
			    text-transform: capitalize;
			    border-bottom: none;
			    margin-bottom: 0;
				}
				&.widget_recent_entries li {
				    border-bottom: none;
				    a{
					    color: #292d33;
					    font-size: 16px;
					    &:hover {
						    color: #2090cb;
						}
				    }
				}
			}
		}
	}
}
@media (max-width: 767px){
	 .title-wrapper {
    padding: 10px 0 5px!important;
}
	.entry-title {
    font-size: 20px;
        line-height: 40px;
}
	.entry-inner {
	    padding: 15px;
	    .entry-content {
	    	padding-right: 0;
	    }
	}
	.sidebar {
	    margin: 25px 15px;
	    padding: 15px;
	    background-color: #fff;
	}
}
@media (max-width: 619px){
.title-wrapper {
    .entry-title {
    font-size: 24px!important;
    line-height: 1 !important;
    margin-bottom: 10px;
}
.sub-title {
    font-size: 14px!important;
    line-height: 22px;
    margin-top: 0;
}
}
}
