html{
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
body{
	-webkit-font-smoothing: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}
.site-content {
    transition: all 0.8s cubic-bezier(0.68, 0, 0.29, 1);
    position: relative;
    z-index: 2;
    background: white;
    overflow-x: hidden;
}
@media (max-width: $screen-xs-max) {
    .site-content {
        margin-top: 70px;
    }
}