.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			background-color: #fff;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
				padding: 13px 20px;
        		margin: 0;
        		text-transform: uppercase;
			    font-size: 11px;
			    font-weight: 500;
			    border-bottom: 1px solid #f2f2f2;
			}

			:hover > a,
			.focus > a {
				color: #006aa7;
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
		.menu-item-has-children > a:after{
			content: "\f107";
		    display: inline-block;
		    font-family: FontAwesome;
		    font-style: normal;
		    font-weight: normal;
		    line-height: 1;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    margin-left: 7px;
		    color: #a7a7a7;
		}
		a {
        padding: 15px 30px;
        margin-bottom: 15px;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
    		opacity: 0.7;
		}
	}
	a {
		display: block;
		text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        color: #333;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Left & Right Menus */
#menu-left, #menu-right {
    margin-top: 30px;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
